*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Animated-background{
    background: linear-gradient(120deg, rgb(53, 1, 77), rgb(36, 33, 33), #000000); 
    background-size: 400% 400%;
    animation: gradient-animation 6s ease infinite;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Nav Link */
ul li {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
}

.Prodigy-img {
    height: 50px;
    width: 65px;
    border-radius: 100%;
    margin-left: 35px;
}

header ul li a {
    text-decoration: none;
    color: antiquewhite;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    list-style: none;
   cursor: pointer;
}

.Nav-Contact {
    background-color: rgb(33, 110, 3);
    width: 105px;
    height: 40px;
    border-radius: 4px;
    color: rgb(226, 216, 216);
    padding: 6px;
    }


/* Nav-Menu-Flexed */
.Nav-Menu ul li {
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
   cursor: pointer;
}

/* NAV HAMBURGER */
.hamburger-icon {
    position: fixed;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: rgb(230, 185, 89);
}

.nav-menu {
    position:fixed;
    right: -100%;
    top: 50px;
    height: 100%;
    width: 30%;
    background-color: #272525;
    color: aqua;
    padding-top: 20px; 
    border-radius: 8px; 
}

.nav-menu ul li {
    list-style: none;
    margin-top: 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: rgb(222, 228, 226);
    gap: 20px;
    margin: 15px;
}

.hamburger-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(100deg); 
}

.hamburger-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(50deg);
}

.hamburger-icon.active {
    right: 0;
    margin-right: 10px;
}

.nav-menu.active {
    left: 0;
}


/* Hero section */
.Hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    gap: 40px;
}

.My-Picture {
    height: 800px;
    width: 700px;
    border-radius: 20px;
    margin-left: 95px;
}

h1 {
    text-shadow: 1px 1px 3px white;
    z-index: 1;
    font-size: 3em;
    font-weight: 330;
}

h2 {
    text-shadow: 1px 1px 3px rgb(241, 234, 234);
    z-index: 1;
    font-size: 3em;
    font-weight: 300;
}

.Hero-section h2 {
    text-shadow: 1px 1px 3px rgb(241, 234, 234);
    z-index: 1;
    font-size: 3em;
    font-weight: 300;
}

.Hero-section h3 {
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    z-index: 1;
    font-size: 2em;
    font-weight: 150;
}

/* #text {
    color:  rgb(230, 215, 215);
    transition: opacity 0.5s;
    animation: fade 00.7s infinite;
}

@keyframes fade {
    0% {opacity: 0; }
    50% {opacity: 1; }
    100% {opacity: 0; }
} */

#text-rotator {
    color:  rgb(230, 215, 215);
    transition: opacity 0.5s;
    animation: fade 00.7s infinite;
}

@keyframes fade {
    0% {opacity: 0; }
    50% {opacity: 1; }
    100% {opacity: 0; }
}

.Hero-padding{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(107, 93, 75);
}

.Hero-project {
    display: flex;
    text-align: center;
    gap: 30px;
    margin-left: 40px;
    margin-top: 70px;
    cursor: pointer;
}

.Hero-project a {
    text-decoration: none;
}

.Project1{
    background-color: rgb(77, 54, 35);
    height: 35px;
    width: 120px;
    border-radius: 4px;
    padding-top: 8px;
    color: whitesmoke;
}

.Holla{
    background-color: rgb(77, 54, 35);
    height: 35px;
    width: 120px;
    border-radius: 4px;
    padding-top: 8px;
    color: whitesmoke;
}

.Hero-Socials ul li {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.Hero-Media {
    height: 80px;
    width: 120px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px white;
    z-index: 1;
    cursor: pointer;
    color: #0e0d0d;
    border-radius: 100%;
}

.Hero-Media:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px;
    z-index: 1;
}

.Hero-Resume {
    color: beige;
    text-decoration: none;
    font-size: 2em;
    font-weight: 150;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(226, 87, 22);
    height: 55px;
    width: 140px;
}


/* About Us */

.About-Animated {
    margin-top: 100px;
    background: linear-gradient(120deg, #43027c, #0a7981, #883806); 
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.About-Me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.About-Us{
    margin-bottom: 50px;
    text-align: center;
    color: rgb(236, 223, 223);
    cursor: pointer;
}

.About-Photo {
    height: 800px;
    width: 700px;
    border-radius: 20px;
    text-align: center;
}

.About-H3 {
    margin-top: 35px;
    margin-bottom: 35px;
}
.About-Wilfred {
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: underline;
    color: rgb(228, 217, 203);
}

.About1{
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(46, 40, 33);
}

.About2 {
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(46, 40, 33);
}


/* Skills section */
section {
    margin-top: 100px;
}

.Skill-Img-none {
    height: 350px;
    width: 400px;
    border-radius: 8px;
}

.Skill-Img {
    height: 350px;
    width: 400px;
    border-radius: 8px;
}

.Flex-skill-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.Skills-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1);
    gap: 30px;
    cursor: pointer;

    /* justify-content: space-between;
    align-items: center; */

    /* display: grid; */
}

.Skill {
    background-color: #0f0f0f;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    transition: transform 0.6s, box-shadow 0.6s;
    }

.Skill:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px;
    z-index: 1;
}

.Skill ul {
    text-align: center;
    color: #cae2e1;
}

.Skill-icons {
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.Skill-Head {
    margin-bottom: 100px;
    text-align: center;
    color: rgb(236, 223, 223);
    cursor: pointer;
}


/* Project-Section */

.Project-animated {
    margin-top: 100px;
    background: linear-gradient(120deg, #045835, #0c4a52, #640505); 
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.Project-H2 {
    color: rgb(224, 234, 243);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.Project-Img {
    height: 350px;
    width: 400px;
    border-radius: 8px;
    margin-top: 30px;
}

.Projects ul li a {
    color: rgb(233, 57, 57);
    text-decoration: none;
}

.Projects-Text{
    color: #f1eaea;
}

.Project-Section {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; */
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Project-Section ul {
    text-align: center;
}

.Projects {
    /* height: 430px;
    width: 510px; */
    /* margin-left: 1px; */
    background-color: #1a1212;
    border-radius: 8px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Projects:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px;
    z-index: 1;
}

/* Get-inTouch */
.Get-inTouch-item:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px;
    z-index: 1;
}

.Get-inTouch {
    margin-top: 100px;
}

.Get-inTouch ul {
    text-align: center;
    text-decoration: none;
}

.Get-inTouch a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    text-align: center;
}

.Get-inTouch-Flex h3 {
    color: rgb(224, 210, 191);
    cursor: pointer;
}

.Get-inTouch-Flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.Get-inTouch h2 {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 50px;

}

.Get-inTouch-items{
    text-decoration: none;
}


/* Contact Me */
ol {
    list-style: none;
    text-decoration: none;
}

.Contact-Us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}

.Contact-Me {
    border-radius: 8px;
}

.Contact-Me:hover {
    transform: scale(1.10);
    box-shadow: 0 0 10px;
    z-index: 1;
}


.Contact-Us h1 {
    color: rgb(241, 221, 194);
    cursor: pointer;
}

.Contact-Us a {
    text-align: center;
}

.Contact-Me ol a {
    text-align:  center;
}

.Contact-Media {
    height: 160px;
    width: 200px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px white;
    z-index: 1;
    cursor: pointer;
    color: #0e0d0d;
    border-radius: 8px;
}


/* FORM */
form {
    background-color: rgb(165, 133, 73);
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.Form-h2 {
    color: rgb(61, 41, 5);
    margin-top: 20px;
}

.Form {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Form-Margin {
    margin-bottom: 30px;
    border-radius: 4px;
    height: 30px;
    width: 250px;
}

.Form-Margin1 {
    margin-bottom: 30px;
    border-radius: 4px;
}

.Form-Margin2 {
    margin-bottom: 30px;
    border-radius: 4px;
    height: 80px;
    width: 300px;
}

.Form-Margin3 {
    margin-bottom: 30px;
}

.Personal-data {
    font-size: larger;
    color: rgb(145, 60, 60);
    text-align: center;
    margin-bottom: 10px;
}

.Form-Margin-submit {
    background-color: #052501;
    color: rgb(231, 213, 213);
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
}


/* FOOTER */
footer {
    margin-top: 100px;
    background: linear-gradient(120deg, #572424, #373f35, #201f1f); 
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    min-height: 90px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.Footer-Navs-flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer-Navs ul li a  {
    text-decoration: none;
    color: #dbd6d3;
    display: block;
    justify-content: center;
    align-items: center ;
    gap: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.Footer-Navs2 ul li a  {
    text-decoration: none;
    color: #dbd6d3;
    display: block;
    justify-content: center;
    align-items: center ;
    gap: 100px;
    margin-left: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    z-index: 1;
    font-size: 1em;
    font-weight: 200;
    border-radius: 100%;
}

.Prodigy-img-footer {
    height: 50px;
    width: 45px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Footer h3 {
    text-align: center;
    margin-top: 30px;
}

.Footer-Text {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 20px;
    color: rgb(243, 206, 206);
}

.Footer-Meida {
    height: 40px;
    width: 70px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px white;
    z-index: 1;
    cursor: pointer;
    color: #0e0d0d;
    border-radius: 100%;
}


/* MOBILE RESPONSIVENESS */
/* PHONES */
@media  (max-width: 480px) {
    body, .Animated-background {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .Nav-Menu {
        display: none;
    }

    /* Hero section */
    .Hero-section {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .Hero-section ul li a {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .My-Picture {
        height: 280px;
        width: 260px;
        margin-bottom: 15px;
        object-position: center;
    }

    .Hero-Media {
        height: 60px;
        width: 80px;
    }

    .Hero-Resume {
        margin-bottom: 25px;
    }

    /* About section */
    .About-Me {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .About-Me ul {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .About-Photo {
        height: 310px;
        width: 300px;
        align-items: center;
        align-content: center;
        object-position: center;
    }

    /* Skills section */
    .Skill-Img-none {
        height: 300px;
        width: 350px;
    }

    .Skill-Img {
        height: 170px;
        width: 150px;
        margin-bottom: 30px;
        display: none;
    }

    .Skills-Section {
        display: block;
        justify-content: left;
        gap: 50px;
    }

    .Skill {
        background-color: #000000;
        height: 200px;
        width: 250px;
        border-radius: 8px;
        margin-top: 20px;
    }

     .Skill-icons {
        display: block;
        justify-content: left;
        margin-top: 20px;
    }


    /* Project section */
    .Project-Section {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .Project-Img {
        height: 220px;
        width: 300px;
        margin-left: 16px;
        margin-top: 10px;
    }

    .Projects {
        margin-bottom: 30px;
        background-color: #272020;
        height: 280px;
        width: 340px;
        border-radius: 8px;
    }
    

    /* Get In-Touch section */
    .Get-inTouch-Flex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 180px;
    }

    .Get-inTouch-items {
        margin-bottom: 45px;
    }

    .Contact-Us {
        display: block;
        margin-top: 30px;
    }

    .Contact-Me {
        margin-bottom: 40px;
    }

    .Contact-Media {
        height: 60px;
        width: 80px;
    }

    /* Footer */
    .Footer-Navs2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}


/* MEDIUM TABLETS */
@media (min-width: 768px) and (max-width: 913px) {
    body, .Animated-background {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .Nav-Menu {
        display: none;
    }

    /* Hero section */
    .Hero-section {
        display: block;
        justify-content: center;
        align-items: center; 
    }

    .Hero-section ul li a {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .My-Picture {
        height: 280px;
        width: 260px;
        margin-top: 20px;
    }

    .Hero-Media {
        height: 60px;
        width: 80px;
    }
    
    .Hero-Resume {
        margin-bottom: 15px;
    }

     /* About section */
    .About-Me {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .About-Photo {
        height: 310px;
        width: 300px;
        align-items: center;
        align-content: center;
        align-self: center;
        object-position: center;
    }

     /* Skills section */
    .Skill-Img-none {
        height: 170px;
        width: 150px;
        margin-bottom: 30px;
    }

    .Skill-Img {
        height: 300px;
        width: 350px;
        margin-bottom: 30px;
        display: none;
    }

    .Skills-Section {
        display: block;
        justify-content: left;
        gap: 50px;
    }

    .Skill-icons {
        display: block;
        justify-content: left;
        margin-top: 20px;
    }

    .Skill {
        background-color: #000000;
        height: 200px;
        width: 250px;
        border-radius: 8px;
        margin-top: 20px;
    }


    /* Project section */
    .Project-Section {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .Project-Img {
        height: 220px;
        width: 300px;
        margin-left: 16px;
        margin-top: 10px;
    }

    .Projects {
        margin-bottom: 30px;
        background-color: #1f1d1d;
        height: 280px;
        width: 340px;
        border-radius: 8px;
    }

    /* Get In-Touch section */
    .Get-inTouch-Flex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 180px;
    }

    .Get-inTouch-items {
        margin-bottom: 45px;
    }

    .Contact-Us {
        display: block;
        margin-top: 30px;
    }

    .Contact-Me {
        margin-bottom: 40px;
    }

    .Contact-Media {
        height: 60px;
        width: 80px;
    }

    /* FOoter */
    .Footer-Navs2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}


/* LAPTOPS */
@media (min-width: 1200px) and (max-width: 1199px) {
    
}

/* DESKTOPS */
@media (min-width: 1200px) {

}
